<% provide(:title, 'All users') %>


<h1>User search:</h1>
<div class="row">
  <div class="span6 offset3">
    <%=form_tag search_path, method: :get do %>
        <%= text_field_tag 'keyword', nil %>

    <% end %>
  </div>
</div>

<h1>All users</h1>

<%= will_paginate %>

<ul class='users'>

  <%= render @users %>

</ul>

<%= will_paginate %>
